@tailwind base;
@tailwind components;
@tailwind utilities;
ion-icon {
    font-size: 30px !important;
  }

.arrow-carousel ion-icon{
  font-size: 60px !important;
}

.carousel .control-dots .dot{
  width: 20px !important;
  height: 20px !important;
  background:#e5383b !important;
  top: 210px !important;
}

.play-carousel{
  opacity: 0;
  border: #e94444e3 4px solid;
  color: rgb(249 43 47 / 80%);
  background: #ffffff4d;
  transition: all.8s;
}

#carousel:hover .play-carousel{
  opacity: 1;
}
.play-carousel:hover{
  border: #e94444ab 4px solid;
  color: #e94444ab;
  background: #ffffff92;
}
#carousel .video-carousel{
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.641);
  width: 100vw;
  height: 100vh;
  z-index: 30;
}

#carousel .video-carousel .close{
  color: white;
  position: absolute;
  right: -5%;
  top: -8%;
}

#carousel .video-carousel .close ion-icon{
  font-size: 50px !important;
}

#carousel .video-carousel iframe{
  width:800px;
  height:500px;
}
#item-movie .item-c18{
  background-color: #f44b4e;
    padding: 0px 5px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
#item-movie .item-title{
  font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
   overflow: hidden;
}
#item-movie .item-desc{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #757575;
  margin: 0px 0px 16px 0px;
  font-weight: 600;
}

@media screen and (max-width: 992px){
  #carousel .video-carousel iframe{
  width:700px;
  height:400px;
  }
}

